.body-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.slider {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.slider-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.popup-message {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: slideDown 0.5s ease-out;
}

@keyframes slideDown {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}


.success-message {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}


.offer-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}

.img-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.img-grid-item {
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
  object-fit: cover;
}

/* Additional styling for responsiveness */
@media (max-width: 768px) {
  .img-grid-item {
      max-width: 120px;
  }
}

@media (max-width: 480px) {
  .img-grid-item {
      max-width: 100px;
  }
}
